body {
    display: flex;
    flex-direction: column;
    min-height: 100vh; /* Ensure the body covers the full viewport height */
    font-family: Arial, Helvetica, sans-serif;
    background-color: #f0f0f0;
    margin: 0;
    padding: 0;
}

header {
    background-image: linear-gradient(to right, #2196F3, #42A5F5);
    color: white;
    text-align: center;
    padding: 20px 20px;
    font-size: 22px;
}

nav {
    background-color: #2196F3;
    padding: 20px;
    text-align: center;
    margin-top: 0px;
}

nav ul {
    list-style: none;
    padding: 0;
    margin: 0;
}

nav li {
    display: inline-block;
    position: relative;
    margin: 15px;
}

nav a {
    font-size: 18px;
    color: #FFFFFF;
    text-decoration: none;
    padding: 10px 20px;
    border: 2px solid transparent;
    border-radius: 20px;
    transition: background-color 0.3s ease, border-color 0.3s ease, color 0.3s ease;
}

nav a:hover {
    background-color: #FFFFFF;
    border-color: #2196F3;
    color: #2196F3;
}

/* New Style for Active Menu Item */
nav a.active {
    background-color: #42A5F5;
    border-color: #2196F3;
    color: #FFFFFF;
}

main {
    padding: 20px;
    text-align: center;
}

main img {
    max-width: 100%;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

h1 {
    margin-bottom: 20px; /* Remove default margin-bottom */
}

footer {
    background-color: #2196F3;
    color: white;
    text-align: center;
    padding: 20px;
    font-size: 14px;
}

footer a {
    color: white;
    text-decoration: none;
}

footer a:hover {
    text-decoration: underline;
}

.content {
    text-align: justify;
    font-size: 20px;
    flex: 1; /* This makes the content div take the remaining space and push the footer to the bottom */
}

.content h2 {
    font-size: larger;
    padding: 20px;
    text-align: center;
}

.content img {
    width: 100%;
    max-width: 100%;
    height: auto;
}